
#ptbr_header_container #pthdr2container {
	height: 41.65px;
	min-width: 550px;
	text-align: center;
	white-space: nowrap;
	color: rgba(255,255,255,0.95);
	color: var(--pt-banner-text-color);
	background: #1D2733;
	background: var(--pt-banner-background-color);
	border-bottom-width: 0px;
}


#pthdr2logofluid {
	display: none;
}
.homePageHdr #pthdr2logofluid {
	display: block;
	position: absolute;
}
.homePageHdr #pthdr2logofluid:before {
	left: 8px;
	position: relative;
	right: 0;
	top: 4px; 
	float: left;
}


.psc_form-xlarge .homePageHdr #pthdr2logofluid:before, .psc_form-large .homePageHdr #pthdr2logofluid:before, .psc_form-medium .homePageHdr #pthdr2logofluid:before {
	content:url(/cs/corcscss/cache_86015/PTNUI_ORACLE_LOGO_SFF_1.svg); 
	transform: scale(0.8); 
}


.psc_form-small .homePageHdr #pthdr2logofluid:before {
	content:url(/cs/corcscss/cache_86015/PTNUI_ORACLE_LOGO_SFF_1.svg);
}


@media only screen and (orientation: portrait) { 
.psc_form-large .homePageHdr #pthdr2logofluid:before, .psc_form-medium .homePageHdr #pthdr2logofluid:before {
	-webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3);
	padding-left: 1.5em;
	padding-top: 0.3em;
}
}


@media only screen and (orientation: portrait) { 
.psc_form-small .homePageHdr #pthdr2logofluid:before {
	-webkit-transform: scale(2.7); -moz-transform: scale(2.7); -ms-transform: scale(2.7); transform: scale(2.7);
	padding-left: 1.5em;
	padding-top: 1.2em;
}
}
@media only screen and (orientation: landscape) { 
.psc_form-small .homePageHdr #pthdr2logofluid:before {
	-webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5);
	padding-left: 0.7em;
	padding-top: 0.3em;
}
}


:root.psc_mode-access.psc_form-xlarge .homePageHdr #pthdr2logofluid:before, 
:root.psc_mode-access.psc_form-large .homePageHdr #pthdr2logofluid:before, 
:root.psc_mode-access.psc_form-medium .homePageHdr #pthdr2logofluid:before,
:root.psc_mode-access.psc_form-small .homePageHdr #pthdr2logofluid:before
{
  content:"Oracle Logo";
  max-width:10vw;
  white-space:normal;
  overflow:hidden;
  text-overflow:ellipsis;
  display:inline-block;
  transform:scale(0.8) !important; 
}



#pthdr2navbarlinks.pthdr2navbarlinks {position:absolute; top:0px; right:0;}
#pthdr2links.pthdr2links {display:none;}
#pthdr2perslinks.pthdr2perslinks {white-space:nowrap; vertical-align: middle; text-align:right; padding:0 0.5em;}
#pthdr2perslinks.pthdr2perslinks .pttablinks {display:inline-block; margin:0.5em 0; margin-left:2em; white-space:nowrap;}
#pthomepagetabline {background-image:url(/cs/corcscss/cache_86015/PT_HOME_TAB_LINE_CSS_1.JPG); height:26px; margin-top:4px;}
#pthomepagetabline ul {list-style:none; margin:0; padding:0;}
#pthomepagetabline li {float:left; margin:0 0.5em; padding:3px 1em 0 1em; height:20px; display:inline-block; border-color:#C9CED5; border-style:solid; border-width:0 1px;}


.PSPAGE {
	margin-left: 0px !important;
	margin-right: 0px;
}


#pthdr2search, #pthdr2notify_div,  #pthdr2ActionList_div, #pthdr2navbar_div, #pthdr2suggestionsearch_div,
#pthdr2home {
	display: inline-block;
	padding-top: 7px;
	position: relative;
}
#pthdr2navbar_div
{
	margin-left: 4px;
}
#pthdr2home {
	display: inline;
	padding: 18px 7px 2px 3px;
	margin-right: 4px;
}
#pthdr2ActionList {
	margin-right: 0px;
}


#pthdr2navbar_div #pthdr2navbar {
	border-left: 0px none transparent;
}

:root.psc_mode-hc #pthdr2navbar_div #pthdr2navbar
{
	border-left: 1px solid var(--pt-button-background-color);
}

#pthdr2navbarlinks a.headerbutton {
	background-color: transparent;
	border-radius: 3px;
	border: 0px none transparent;
	box-shadow: none;
	font-size: 9pt;
}

:root.psc_mode-hc #pthdr2navbarlinks a.headerbutton
{
	border: 1px solid var(--pt-button-background-color);
}

:root.psc_mode-hc #pthdr2navbarlinks a.headerbutton:hover
{
	outline: 1px dashed var(--pt-button-simple-hover-outline-color);
    outline-offset: -3px;
}

#pthdr2navbarlinks a.headerbutton:active
{
	background-color: rgba(0,0,0,0.8) !important; 
	background-color: var(--pt-banner-button-active-background-color) !important;
	 
	box-shadow: none;
	color: #fff;
}
#pthdr2navbarlinks a.headerbutton:hover{
	background-color: rgba(255,255,255,0.35);
	background-color: var(--pt-banner-button-hover-background-color);
	
	border: 0px none transparent;
	text-decoration: none;
	transition: background 0.15s 0s ease-in-out;
}


:root.psc_mode-hc #pthdr2navbarlinks a.headerbutton:focus-visible
{
	outline: -webkit-focus-ring-color auto 1px !important;
}

.headerbutton:after {
	right:0;
	left:9px;
	position: absolute;
	width: 0;
}
.headerbutton img {
	opacity: 0;
}


#pagetitleheader
{
	font-weight: normal;
}


#pthdr2home:after {
	content:url(/cs/corcscss/cache_86015/PT_HEADER_HOME_1.svg); 
	top: 4px;
	left: 5px;
}


#pthdr2Search:after {
	content:url(/cs/corcscss/cache_86015/PT_HEADER_SEARCH_1.svg); 
	top: 7px;
	left: 8px;
}


#pthdr2notify:after {
	content:url(/cs/corcscss/cache_86015/PT_HEADER_ALERTS_1.svg); 
	top:7px;
}


#pthdr2ActionList:after {
	content:url(/cs/corcscss/cache_86015/PT_HEADER_ACTIONS_1.svg); 
	top:7px;
}


#pthdr2navbar:after {
	content:url(/cs/corcscss/cache_86015/PT_HEADER_NAVBAR_1.svg); 
	top:7px;
	left: 10px;
}



#pthdr2navbarlinks a:focus
{
	outline: 1px solid var(--pt-button-background-color) !important;
}


:root.firefox #pthdr2navbarlinks a:focus
{
	outline: 1px dotted var(--pt-button-background-color) !important;
	outline-offset: 1px;
}


:root.firefox #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button:focus
{
	outline: 1px dotted var(--pt-button-background-color);
	outline-offset: 1px;
}

#ACTION_LINK_CONTAINER a:focus {
	background-color: #fff;
	outline : 1px dotted rgb(0, 0, 0);
}
#ACTION_LINK_CONTAINER #pthdr2ctimcf:focus 
{
	border-top: 1px dotted rgb(0, 0, 0);
}


#pthdr2navbar {
	background: 1D2733;
	box-shadow: inset 0 7px 6px -10px rgb(95,132,161);
	padding: 18px 5px 2px 5px;
	margin-right: 4px; 
	background-color: transparent;
	border-left: 1px solid rgb(50,81,107);
}
#pthdr2navbar:hover {
	background: #2a5476 ;
	box-shadow: none;
}
#pthdr2navbar:active {
	background: #153652;
	box-shadow: none;
}


#pthdr2notify_badge {
	background-color: #dd0000;
	border-color: #fff;
	color: #fff;
}
.psNotifyWin .ps_arrow_top {
	top: 0px !important;
}


.ptdropdownmenu{
	display:none;
}


#pthdr2pagetitle {
	color: rgba(255,255,255, 0.95);
	text-align: center;
	white-space: nowrap;
	font-family: Arial,Helvetica,sans-serif;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}



#pthomepagetabline {
	margin-top: 15px;
}
.pthomepagetabactive {
	margin-left: 10px !important;
	border-top : 4px solid #62BA8A !important;
	background-image: none;
	padding-right : 1em !important;
}
#pthomepagetabline li {
	margin: 0;
	height: 18px;
	padding: 1px 0 0 1em;
	padding-left: 1em;
	padding-right: 0;
}
.pthomepagetabinactive {
	background-image: none !important;
	border: none !important;
}
#ptbr_personalize {
	margin-left: 10px;
}


#pthdr2ActionList_div, .fluidsearchcontainer {
	position: relative;
}
.PTPNWinModalClassic {
	border-width: 1px ;
	top : -1px ;
}


#pthdr2srchcontainerfluid{
	position: absolute ;
	right: 3px;
	top: 39px;
	z-index: 208;
	background: #6c7784;
	padding: 0.45em 0.6em;
	border-radius: 0.38em 0 0.35em 0.35em;
	border: 1px solid #5c6570;
	box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.35);
	-webkit-animation: pt_fadein 0.5s ease; -moz-animation: pt_fadein 0.5s ease; -ms-animation: pt_fadein 0.5s ease; animation: pt_fadein 0.5s ease;
}
.hideSearchTray, .pthdr2srchcontainer{
	display:none ;
}
.showSearchTray{
	display:block ;
}
#pthdr2srchcontainerfluid #ipthdr2linksgbl {
	margin : 0px 0 0 0px ;
	height: 28px ;
}
#pthdr2container #pthdr2Search[aria-expanded="true"] {
	padding-bottom: 6px;
	background-image:-webkit- linear-gradient(to bottom, #505862, #6c7784) !important; background-image:-moz- linear-gradient(to bottom, #505862, #6c7784) !important; background-image:-ms- linear-gradient(to bottom, #505862, #6c7784) !important; background-image: linear-gradient(to bottom, #505862, #6c7784) !important; 
}
#pthdr2goimg {
	opacity: 0;
}
#pthdrSrchHref {
	padding: 15px 5px 4px 4px;
}
#pthdrSrchHref:after {
	content:url(/cs/corcscss/cache_86015/PT_NUI_EXECUTE_ARW_1.svg); 
	position: absolute;
	right: 26px;
	width: 0;
	top: 8px;
}
#pthdrSrchHref:hover{
	background-color: rgba(0,0,0,.63); 
	border-radius: 100%;
	border: 0px none transparent;
	text-decoration: none;
	transition: background 0.15s 0s ease-in-out;
	padding: 15px 5px 4px 4px;
}
#pthdr2srchcontainerfluid #pthdrSrchIcon {
	margin-left: 7.3333px;
	margin-right: 0px;
	margin-bottom: 7px;
}
#ipthdr2linksgbl #selsrchgrp:before {
	left: 19px;
	float: right;
	top: 8px;
}
#pthdr2srchcontainerfluid #selsrchgrp {
	background: white;
        padding-left: 0px;
	border-radius: 3px;
}
#pthdr2srchcontainerfluid #selsrchgrp span {
	min-width: 60px;  
	padding-top: 4px; 
	padding-left: 10px;
	font-weight: normal; 
	font-size: 14.6667px; 
	text-align: left;
	color: #000;
}
#pthdr2srchcontainerfluid #srchgrplistdiv {
	padding-bottom: 0px;
	
}
#pthdr2srchcontainerfluid ul#ipthdr2srchlist li {
	height: auto;
	padding-bottom: 0px;
}
#pthdr2srchcontainerfluid ul#ipthdr2srchlist li a:hover {
	background-color: #2D91E7;
}
#pthdr2srchcontainerfluid ul#ipthdr2srchlist li a:hover span {
	color: #fff;
}
#pthdr2srchcontainerfluid ul#ipthdr2srchlist li a span {
	font-size: 12px;
	color: #000;
}
#pthdr2srchedit {
	width: 14.88em;
	border-radius: 3px;
	font-weight: normal;
	background-image: none;
	border: 1px solid #bcc4cd;
	height: auto;
	padding: 0.42em 0.25em;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 14.6667px;
	color: #000;
	margin-left: 7.3333px;
}
#pthdr2srchedit:hover, #pthdr2srchcontainerfluid #selsrchgrp:hover {
	border-color: #246FC7;
}

.homePageHdr #ipthdr2linksgbl{
	direction: inherit; 
}


.ps_actionmenusection , .ps_menuitem {
	list-style-type: none;
}
#pthdr2actionListcontainerfluid .ps_menusection {
	margin: 0;
	padding: 0;
}

@-webkit-keyframes pt_fadein {
	from { opacity: 0; }
	to { opacity: 1;  }
}

@-moz-keyframes pt_fadein {
	from { opacity: 0; }
	to { opacity: 1;  }
}

@-ms-keyframes pt_fadein {
	from { opacity: 0; }
	to { opacity: 1;  }
}

@-o-keyframes pt_fadein {
	from { opacity: 0; }
	to { opacity: 1;  }
}

@keyframes pt_fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

#pthdr2actionListcontainerfluid{
	position: absolute ;
	right: 0px;
	top: 48px;
	z-index: 208;
	border: 1px solid #6c6c6c;
	border-color: var(--pt-modal-border-color);
	border-radius: 3px;
	max-width: 22em;
	min-width: 16em;
	background-color: #fff;
	background-color: var(--pt-modal-background-color);
	border-radius: 3px;
	box-shadow: 0px 0px 25px #5a5a5a;
	box-shadow: 0px 0px 25px var(--pt-modal-shadow-color);
	-webkit-animation: pt_fadein 0.5s ease; -moz-animation: pt_fadein 0.5s ease; -ms-animation: pt_fadein 0.5s ease; animation: pt_fadein 0.5s ease;
}
.hideActionListMenu {
	display:none ;
}
.showActionListMenu {
	display:block ;
}
#pthdr2actionListcontainerfluid .ps_arrow_top {
	border-bottom: medium none;
	-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);
	background-color: #fff;
	border-right: 1px solid #6c6c6c;
	border-top: 1px solid #6c6c6c;
	border-width: 1px;
	content: " ";
	display: none;
	height: 1.02325em;
	margin-left: initial;
	position: absolute;
	transform-origin: left top 0;
	width: 1.02325em;
	z-index: -1;
	top: -1px;
}
html[dir="rtl"] #pthdr2actionListcontainerfluid .ps_arrow_top {
	transform: rotate(45deg);
}
#ACTION_LINK_CONTAINER a {
	color: #1c579C;
	color: var(--pt-menu-item-text-color);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14.6667px;
	font-weight: normal;
	text-decoration: none;
	padding: 1em 2.5em;
	display: block;
	margin: 0;
	border-bottom: none;
	text-align: left;
	padding: 1em;
	text-overflow: ellipsis;
	white-space: normal;
	overflow-x: hidden;
	border-left: 4px solid var(--pt-modal-background-color);
}
#ACTION_LINK_CONTAINER a:hover {
	border-left: 4px solid #1C579C;
	border-color: var(--pt-menu-item-hover-border-color);
	background-color: var(--pt-hover-background-color);
}
#ACTION_LINK_CONTAINER a:active {
	background-color: var(--pt-active-background-color);
}
#ACTION_LINK_CONTAINER .addtoFluid {
	display:none;
}
#ACTION_LINK_CONTAINER .ps-pin-menu {
	position: relative;
}
#ACTION_LINK_CONTAINER #pthdr2signout {
	display: block;		
}
#pthdr2navbaractionlist,  #pthdr2homeactionlist,  #pthdr2actionlistsearch, #pthdr2sugsearchactionlist {
	display: none ;
}


.psc_mode-access #actionListHeader{
	display: none;
	padding-right: 2.3em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


#actionListTitle {
	padding: 3px 5px;
	font-weight: bold;
	color: rgb(0, 0, 0);
}
.actionlisttitleHdr {
	font-size: 1.35em;
	padding-left: 10px;
	padding-right: 11 px;
	display: inline;
}
#actionListHeader{
	display: none;
	border-bottom: 1px solid rgb(201,206,213);
}
#ACTION_LINK_CONTAINER #closeAnchor {
	display: inline;
	padding: 0.5em;
	border-bottom: none;
	white-space: nowrap;
	position: absolute;
	top: 0px;
}
#ACTION_LINK_CONTAINER #closeAnchor:hover {
	border-radius: 1em;
	border: 1px solid rgb(201,206,213);
}



.psc_form-xlarge #pagetitleheader {
	display: inline;
	font-size: 19.8px;
	font-weight: bold;
}

.psc_form-xlarge a.headerbutton {
	margin: 0 0.4em ;
	padding: 17px 5px 2px 4px;
}
.psc_form-xlarge #pthdr2navbarlinks a.navbarIconFluid {
	margin-right: 4px ; 
	padding: 18px 5px 2px 5px ;
}

.psc_form-xlarge  #pthdr2homeactionlist, .psc_form-xlarge  #pthdr2navbaractionlist, .psc_form-xlarge  #pthdr2actionlistsearch, .psc_form-xlarge  #pthdr2sugsearchactionlist {
	display: none ;
}
.psc_form-xlarge #pthdr2pagetitle {
	padding-top: 0.5em;
}
.psc_form-xlarge .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -18px;
}


@media only screen and (max-width:767px) { 
#pthdr2suggestionsearch_div {
	visibility: visible !important;
	width: auto !important;
	height: auto !important;
}
#pthdr2searchboxplaceholder {
	display: none !important;
}
}


.homePageHdr #classicbackbuttonlayout {
	display: none;
}
#pthdr2container > #classicbackbuttonlayout {
	width:0px;
	height:0px;    
}
#classicbackbuttonlayout > #classicbackbuttoncontainer {
	box-sizing: border-box;
	text-align: left;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper {
	display: inline-block;
	margin: 0;
	padding-left: 0.2em;    
	line-height: inherit;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
	text-shadow: none;
	font-size: 13.9333px;
	box-shadow: none;
	
	border-width: 0px;
	border-bottom-color: #0d2940;
	background-color: rgba(255,255,255,0.35);
	text-align: left;
	display: inline-block;
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
	vertical-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	font-weight: normal;
	white-space: nowrap;
	margin-top: .3em;
	-webkit-border-radius:0.25em; -moz-border-radius:0.25em; -ms-border-radius:0.25em; border-radius:0.25em;
	transition: background 0.15s 0s ease-in-out;
	max-width: 23vw;
	border-color: #657081; 
}

:root.psc_mode-hc #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button
{
	border: 1px solid var(--pt-button-background-color);
}

#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button:hover {
	background-color: rgba(255,255,255,0.35);
	background-color: var(--pt-banner-button-hover-background-color);
	-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none;
	color: #fff;
	color: var(--pt-page-text-alt-2-color);
	border-width: 0px; 
}

:root.psc_mode-hc #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button:hover
{
	outline: 1px dashed var(--pt-button-simple-hover-outline-color);
    outline-offset: -3px;
}

#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button:active {
	background-color: transparent;
	background:-webkit- #06080A; background:-moz- #06080A; background:-ms- #06080A; background: #06080A; 
	background:-webkit- var(--pt-banner-button-active-background-color); background:-moz- var(--pt-banner-button-active-background-color); background:-ms- var(--pt-banner-button-active-background-color); background: var(--pt-banner-button-active-background-color);
	-webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; 
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text {
	margin-left: 0.4em;
	color: #fff;
	color: var(--pt-page-text-alt-2-color);
	position: absolute !important;
	left: 0 !important;
	top: -9999px !important;
	right: auto !important;
	bottom: auto !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	display: block !important;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text:active {
	color: #fff;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text:hover {
	color: #fff;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-img {
	vertical-align: middle;
	margin-top: -1px;
	border: none;
	
	margin: 0;
	padding-bottom: 2px;
	width: 1.81em;
	height: 1.74em;
	padding: 0.362em;
    display: inline-block;
}
@media only screen and (max-width: 800px) {
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
	
}
}
@media only screen and (max-width: 680px) {
#classicbackbuttonlayout .ps-button {
	margin-top: .4em !important;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
	
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper {
	
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text {
	display: none !important;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-img {
    
	
}
}


#classicbackbuttonlayout .ps_box-button .ps-img {
	opacity: 0;
}
#classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button:before {
	content:url(/cs/corcscss/cache_86015/PT_NUI_BACK_PRIM_IMG_1.svg);
	position: absolute;
	transform: scale(1.4);
	top: 11px;
	left: 11px;
}


@media only screen and (orientation: landscape) { 
.psc_form-large  #pthdr2container {
	height: 40px !important ;
}
.psc_form-large a.headerbutton {
	margin: 0 0.3em ;
	padding: 18px 5px 0 5px ;
}
.psc_form-large #pthdr2navbarlinks a.navbarIconFluid {
	padding: 20px 9px 5px;
	margin: 0px ;
}
.psc_form-large #pthdr2srchcontainerfluid {
	top: 39px;
}
.psc_form-large  #pthdr2homeactionlist, .psc_form-large  #pthdr2navbaractionlist, .psc_form-large  #pthdr2actionlistsearch, .psc_form-large  #pthdr2sugsearchactionlist {
	display: none  ;
}
.psc_form-large #pthdr2pagetitle {
	padding-top: 0.35em;
	width: 30em;
}
.psc_form-large .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -28px;
}
.psc_form-large #pagetitleheader {
	display: inline;
	font-size: 19.8px;
	font-weight: bold;
}
.psc_form-large #classicbackbuttonlayout .ps-button {
	margin-top: 0.2em ;
}
.psc_form-large #pthdr2actionListcontainerfluid .ps_arrow_top {
	top: -10px;
}
.psc_form-large #pthdr2actionListcontainerfluid {
	right: -4px
}
}


@media only screen and (orientation: portrait) { 
.psc_form-large a.headerbutton {
	margin: 0 7px ;
	padding: 16px 9px 10px ;
}
.psc_form-large #pthdr2navbarlinks a.navbarIconFluid {
	padding: 20px 14px 14px 16px;
	margin: 0px;
}
.psc_form-large a.headerbutton:after {
	-webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3);
	top: 13px !important;
	left: 12px;
}
.psc_form-large #pthdr2pagetitle {
	padding-top: 0.75em;
	width: 30em;
}
.psc_form-large .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -22px;
}
.psc_form-large #pagetitleheader {
	display: inline;
	font-size: 25px;
	font-weight: bold;
}
.psc_form-large  #pthdr2container {
	height: 52px !important;
}
.psc_form-large #pthdr2homeactionlist {
	display: block ;
}
.psc_form-large #pthdr2home, .psc_form-large #pthdr2actionlistsearch, .psc_form-large #pthdr2sugsearchactionlist, .psc_form-large #pthdr2navbaractionlist {
	display: none  ;
}
.psc_form-large #classicbackbuttonlayout .ps-button {
	margin-top: 0.5em !important;
}
.psc_form-large #pthdr2srchcontainerfluid {
	top: 50px;
	right: 7px;
}
.psc_form-large #pthdrSrchIcon {
	margin-right: 13px;
}
.psc_form-large .pthdrSrchIconIframe {
	height: 30px;
}
.psc_form-large #pthdrSrchHref:after {
	right: 30px;
}
.psc_form-large .PTPNWinModalClassic {
	top: 10px;
}
.psc_form-large #pthdr2actionListcontainerfluid {
	top: 51px;
	right: 2px
}
.psc_form-large .psNotifyWin .ps_arrow_top {
	top: 10px !important;
	right: 7.8em;
}
.psc_form-large #pthdr2actionListcontainerfluid .ps_arrow_top {
	top: -10px;
}
.psc_form-large .PTNavBarModal {
	top: 52px !important;
}
}


@media only screen and (orientation: landscape) { 
.psc_form-medium  #pthdr2container {
	height: 40px !important ;
}
.psc_form-medium a.headerbutton {
	margin: 0 0.3em ;
	padding: 18px 5px 0 5px ;
}
.psc_form-medium #pthdr2navbarlinks a.navbarIconFluid {
	padding: 20px 9px 5px;
	margin: 0px ;
}
.psc_form-medium #pthdr2srchcontainerfluid {
	top: 39px;
}
.psc_form-medium  #pthdr2homeactionlist, .psc_form-medium  #pthdr2navbaractionlist, .psc_form-medium  #pthdr2actionlistsearch {
	display: none  ;
}
.psc_form-medium #pthdr2pagetitle {
	padding-top: 0.35em;
	width: 30em;
}
.psc_form-medium .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -17px;
}
.psc_form-medium #pagetitleheader {
	display: inline;
	font-size: 19.8px;
}
.psc_form-medium #classicbackbuttonlayout .ps-button {
	margin-top: 0.2em ;
}
.psc_form-medium #pthdr2actionListcontainerfluid .ps_arrow_top {
	top: -10px;
}
.psc_form-medium #pthdr2actionListcontainerfluid {
	right: -4px
}
}


@media only screen and (orientation: portrait) { 
.psc_form-medium a.headerbutton {
	margin: 0 7px ;
	padding: 16px 9px 10px ;
}
.psc_form-medium #pthdr2navbarlinks a.navbarIconFluid {
	padding: 20px 14px 14px 16px;
	margin: 0px;
}
.psc_form-medium a.headerbutton:after {
	-webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); transform: scale(1.3);
	top: 13px !important;
	left: 12px;
}
.psc_form-medium #pthdr2pagetitle {
	padding-top: 0.75em;
	width: 30em;
}
.psc_form-medium .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -17px;
}
.psc_form-medium #pagetitleheader {
	display: inline;
	font-size: 25px;
}
.psc_form-medium  #pthdr2container {
	height: 52px !important;
}
.psc_form-medium #pthdr2homeactionlist {
	display: block ;
}
.psc_form-medium #pthdr2home, .psc_form-medium #pthdr2actionlistsearch, .psc_form-medium #pthdr2navbaractionlist {
	display: none  ;
}
.psc_form-medium #classicbackbuttonlayout .ps-button {
	margin-top: .8em !important;
}
.psc_form-medium #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
	height: 1em;
	font-size: 1em;
	-webkit-transform: scale(2); -moz-transform: scale(2); -ms-transform: scale(2); transform: scale(2);
	padding: .2em .2em .2em .2em;
}
.psc_form-medium #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper {
	padding-left: 1.2em;
}
.psc_form-medium #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text {
	display:none !important;
}
.psc_form-medium #pthdr2srchcontainerfluid {
	top: 50px;
	right: 7px;
}
.psc_form-medium #pthdrSrchIcon {
	margin-right: 13px;
}
.psc_form-medium .pthdrSrchIconIframe {
	height: 30px;
}
.psc_form-medium #pthdrSrchHref:after {
	right: 30px;
}
.psc_form-medium .PTPNWinModalClassic {
	top: 10px;
}
.psc_form-medium #pthdr2actionListcontainerfluid {
	top: 51px;
	right: 2px
}
.psc_form-medium .psNotifyWin .ps_arrow_top {
	top: 10px !important;
	right: 7.8em;
}
.psc_form-medium #pthdr2actionListcontainerfluid .ps_arrow_top {
	top: -10px;
}
.psc_form-medium .PTNavBarModal {
	top: 52px !important;
}
}


@media only screen and (orientation: landscape) {
.psc_form-small #pthdr2container {
	height: 60px !important;
}
.psc_form-small a.headerbutton:after  {
	-webkit-transform: scale(1.45); -moz-transform: scale(1.45); -ms-transform: scale(1.45); transform: scale(1.45);
	padding-left: 0.5em;
	padding-top: 0.75em;
}
.psc_form-small a.headerbutton {
	padding: 14px 10px ;
	margin: 0 12px;
}
.psc_form-small #pthdr2navbarlinks a.navbarIconFluid {
	padding: 20px 20px 22px;
	margin: 0px;
}
.psc_form-small #pthdr2home, .psc_form-small #pthdr2Search {
	display: none  ;
} 

.psc_form-small .psNotifyWin .ps_arrow_top {
	top: -8px !important;
	right: 9.5em !important;
	height: 2em;
	width: 2em;
}
.psc_form-small #pthdr2actionListcontainerfluid{
	right: 0.3em;
    	top:60px;
}
.psc_form-small #pthdr2actionListcontainerfluid .ps_arrow_top {
	top: -10px;
	height: 2em;
	width: 2em;
}
.psc_form-small #pthdr2pagetitle {
	padding-top: 0px;
}
.psc_form-small .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -4px;
}
.psc_form-small #pagetitleheader {
	font-size: 1.5em;
}
.psc_form-small #pthdr2homeactionlist, .psc_form-small #pthdr2actionlistsearch:not(.hideActionMenuSearchLink) {
	display: block ;
}
.psc_form-small #pthdr2navbaractionlist {
	display: none ;
}
.psc_form-small #classicbackbuttonlayout .ps-button {
	margin-top: .1em !important;
}
.psc_form-small #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
	height: 1em;
	font-size: 1em;
	-webkit-transform: scale(2.2); -moz-transform: scale(2.2); -ms-transform: scale(2.2); transform: scale(2.2);
	padding: .2em .2em .2em .2em;
}
.psc_form-small #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper {
	padding-left: 1.3em;
	padding-top: 1em;
}
.psc_form-small #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text {
	display:none !important;
}
.psc_form-small .PTPNWinModal {
	top : 68px;
}
}


@media only screen and (orientation: portrait) {
.psc_form-small #pthdr2container {
	height: 108px !important;
}
.psc_form-small a.headerbutton:after {
	-webkit-transform: scale(3); -moz-transform: scale(3); -ms-transform: scale(3); transform: scale(3);
    	padding-left: 0.4em;
	padding-top: 1.5em;
}
.psc_form-small a.headerbutton {
	padding: 10px 28px 58px ;
	margin: 0 16px;
}
.psc_form-small #pthdr2home, .psc_form-small #pthdr2Search, .psc_form-small #pthdr2navbar {
	display: none  ;
} 

.psc_form-small .psNotifyWin .ps_arrow_top {
	top: 40px !important;
	right: 9.5em;
	height: 2em;
	width: 2em;
}
.psc_form-small #pthdr2actionListcontainerfluid{
	right: 1em;
    	top:108px;
}
.psc_form-small #pthdr2actionListcontainerfluid .ps_arrow_top {
	top: -10px;
	height: 2em;
	width: 2em;
}
.psc_form-small #pthdr2pagetitle {
	padding-top: 0.8em;
}
.psc_form-small .homePageHdr #pthdr2pagetitle {
	padding-right: 9em;
	top: -2px;
}
.psc_form-small #pagetitleheader {
	font-size: 2em;
}
.psc_form-small #pthdr2homeactionlist, .psc_form-small #pthdr2actionlistsearch:not(.hideActionMenuSearchLink), .psc_form-small #pthdr2navbaractionlist  {
	display: block ;
}
.psc_form-small #classicbackbuttonlayout .ps-button {
	margin-top: 1.5em !important;
}
.psc_form-small #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button {
	height: 1em;
	font-size: 1em;
	-webkit-transform: scale(4); -moz-transform: scale(4); -ms-transform: scale(4); transform: scale(4);
	padding: .2em .2em .2em .2em;
}
.psc_form-small #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper {
	padding-left: 3em;
	padding-top: 1em;
}
.psc_form-small #classicbackbuttonlayout > #classicbackbuttoncontainer > .ps-button-wrapper > .ps-button > .ps-text {
	display:none !important;
}

}


.psc_mode-access #pagetitleheader {
	display: none ;
}




.ps_box-headerbranding
{
	margin:0;
	padding:0;
	background: linear-gradient(rgb(23,54,81),rgb(57,106,144));
	border-bottom: 1px solid rgb(81,113,150);
	color:#FFFFFF;
	overflow:hidden;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
}


.ps_box-headerbranding .ps_box-value > p {
 	margin:0;
}

.ps_box-headerbranding img
{
	vertical-align: middle;
}



.pts_search_modal {
    position: fixed;
    z-index: 211;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
}

.pts_search_modal > iframe {
  width:100%;
  height:100%;
}

#pthdr2suggestionsearch::after {
  content: url(/cs/corcscss/cache_86015/PT_HEADER_SEARCH_1.svg);
  top: 7px;
  left: 10px;
}


 

#pthdr2suggestionsearch #pthdr2suggestionsearch_icon
{
width: 25px; 
height: 25px;
}

#pthdr2ActionList #actionlisticon
{
content:url(/cs/corcscss/cache_86015/PT_HEADER_ACTIONS_1.svg); 
}



#pthdr2titlecontainerredwood
{
    width: 100vw;
    min-height: calc(2.75em + var(--pt-strip-height));
    background: var(--pt-page-title-background-color);
    color: var(--pt-page-title-text-color);
    border-bottom: 1px solid var(--pt-page-title-border-color);
    position: relative;
    box-sizing: border-box;
    padding-top: var(--pt-strip-height);
	align-items: center;
    display: flex;
}

#pthdr2titlecontainerredwood .ps_pagetitle_cont:before 
{
    background: var(--pt-strip-background);
    content: "";
    display: block;
    width: 100vw;
    height: var(--pt-strip-height);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#pthdr2titlecontainerredwood .ps_pagetitle_cont .ps_target-title
{
	margin: 0 7px;
}

#classicbackbuttoncontainer:after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid var(--pt-banner-separator-color);
    width: 1px;
    height: 1.3em;
    padding-left: 0.8em;
    position: relative;
    top: -0.25em;
}



.pthdr2quickaccesslinkscontainermru
{
	position: absolute;
	margin-left: 25px;
             z-index: 1;
}
.pthdr2quickaccesslinkscontainerfav
{
	position: absolute;
	margin-left: 74px;
}

#pthdr2quickaccesslinksmru #ptmrumenu,
#pthdr2quickaccesslinksmru #pthdrRecentlyVisitedLi,
#pthdr2quickaccesslinksfav #ptfavmenu,
#pthdr2quickaccesslinksfav #pthdrFavoritesLi
{
	display: inline-block;
	margin-top: 2px;
}
.pthdr2quickaccesslinkscontainermru .ps-button-wrapper,
.pthdr2quickaccesslinkscontainermru .ps-button,
.pthdr2quickaccesslinkscontainerfav .ps-button-wrapper,
.pthdr2quickaccesslinkscontainerfav .ps-button
{
	display: inline-block;
}

#pthdr2recentlyvisited:hover,
#pthdr2favorites:hover
{
	background-color: var(--pt-banner-button-hover-background-color);
}

#pthdr2recentlyvisited:active,
#pthdr2favorites:active
{
	background-color: var(--pt-banner-button-active-background-color);
}

#pthdr2recentlyvisited:before,
#pthdr2favorites:before
{
    content: url(/cs/corcscss/cache_86015/PT_MRU_HDR_ICN_1.svg);
}

#pthdr2favorites:before
{
    content: url(/cs/corcscss/cache_86015/PT_FAV_HDR_ICN_1.svg);
}

#pthdr2recentlyvisited,
#pthdr2favorites
{
	padding: 3px 5px 2px 5px;
	transition: background 0.15s 0s ease-in-out;
	border-radius: 3px;
}

:root.psc_mode-hc #pthdr2recentlyvisited,
:root.psc_mode-hc #pthdr2favorites
{
	border: 1px solid var(--pt-button-background-color);
}

:root.psc_mode-hc #pthdr2recentlyvisited:hover,
:root.psc_mode-hc #pthdr2favorites:hover
{
	outline: 1px dashed var(--pt-button-simple-hover-outline-color);
    outline-offset: -3px;
}


:root.firefox #pthdr2recentlyvisited:focus,
:root.firefox #pthdr2favorites:focus
{
	outline: 1px dotted var(--pt-button-background-color);
	outline-offset: 1px;
}

#pthdr2recentlyvisited_icon,
#pthdr2favorites_icon
{
	display: none;
}




#pthdr2suggestionsearch_div
{
	visibility: hidden;
	width: 0px;
	height: 0px;
}

#pthdr2searchboxplaceholder
{
	display: none;
	margin-right: 70px;
	margin-top: 1px;
	opacity: var(--pt-banner-search-subdued-opacity);
}
#pthdr2searchboxplaceholder:hover
{
	opacity: 0.8;
}
.PSSEARCHEDITBOXPLACEHOLDER
{
	width: 17.45em;
	font-family : Arial,Helvetica,sans-serif ;
	font-weight: normal;
	font-size: 14.6667px;
	color: rgb(0,0,0);
	color: var(--pt-banner-text-color);
	border-radius: 3px;
	box-shadow: none;
	padding: 6.160px 3.667px;
	background: transparent !important;
    border: 1px solid var(--pt-banner-text-color);
    border-radius: 4px;
	padding-left: 30px;
}
.PSSEARCHEDITBOXPLACEHOLDER::-webkit-input-placeholder
{
    color:var(--pt-banner-text-color);
}
.PSSEARCHEDITBOXPLACEHOLDER::-moz-placeholder 
{
    color:var(--pt-banner-text-color);
}
#ptsSearchBoxPlaceHolderClassicHdr:before
{
	content: url(/cs/corcscss/cache_86015/PT_HEADER_SEARCH_1.svg);
    display: inline-block;
    position: relative;
    left: 2.1em;
    top: 0.45em;
    bottom: 0;
    z-index: 1;
    transform: scale(0.9);
}







.psc_form-xlarge .homePageHdr #pthdr2logofluid:before, .psc_form-large .homePageHdr #pthdr2logofluid:before, .psc_form-medium .homePageHdr #pthdr2logofluid:before {
	content: url(/cs/corcscss/cache_86015/CU_LOGO_WHITE_SVG_10.SVG);
	top: 0;
	width: 170px;
}



.psc_form-small .homePageHdr #pthdr2logofluid:before {
	content: url(/cs/corcscss/cache_86015/CU_LOGO_WHITE_SVG_10.SVG);
}

.psc_form-small .homePageHdr #pthdr2logofluid:before {
	transform: scale(1);
	padding: .5em;
	top: 20px;
}



.psc_form-small #pthomepagetabline {
	margin-top: 50px;
}

.psc_form-small #pthdr2perslinks.pthdr2perslinks {
	margin-top: 70px;
}

.psc_form-small table#ptpglts {
	margin-top: 70px;
}


:root.psc_mode-access.psc_form-xlarge .homePageHdr #pthdr2logofluid:before, 
:root.psc_mode-access.psc_form-large .homePageHdr #pthdr2logofluid:before, 
:root.psc_mode-access.psc_form-medium .homePageHdr #pthdr2logofluid:before,
:root.psc_mode-access.psc_form-small .homePageHdr #pthdr2logofluid:before
{
  content:"Cornell University Logo";
}

:root {
--pt-banner-background-color: #B31B1B;
--pt-strip-background: repeat #222222 175px;
}

.homePageHdr .pthdr2quickaccesslinkscontainermru
{
	margin-left: 125px;
}
.homePageHdr .pthdr2quickaccesslinkscontainerfav
{
	margin-left: 174px;
}